/* ===== CONTAINER DO FORM ===== */
.conta {
  width: 420px;
  padding: 35px;
  margin: 80px auto;
  background-color: #000; /* Caixa preta */
  border-radius: 12px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.6);
  font-family: Arial, sans-serif;
  color: #fff; /* texto branco */
}

/* ===== LABELS ===== */
.user-box label {
  display: block;
  margin-bottom: 6px;
  color: #ffffff; /* Labels brancas */
  font-size: 15px;
}

/* ===== INPUTS ===== */
.user-box input {
  width: 100%;
  padding: 12px 10px;
  border-radius: 6px;
  border: 1px solid rgb(255, 255, 255);
  background: transparent;
  
  font-size: 15px;
  outline: none;
  margin-bottom: 20px;
}

/* ===== BOTÕES ===== */
.button-cadastrar,
.button-login {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: 0.2s;
  margin-top: 10px;
  font-weight: bold;
}

/* Botão cadastrar */
.button-cadastrar {
  background-color: #d40000;
  color: white;
}

.button-cadastrar:hover {
  background-color: #a80000;
}

/* Botão login */
.button-login {
  background-color: #333;
  border: 1px solid #d40000;
  color: #d40000;
}

.button-login:hover {
  background-color: #444;
}
