#hero {
    background-color: white;
    /* Altura aumentada */
    padding: 15rem 1rem; 
    border-radius: 30px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

#hero h1 {
    /* Mantém o tamanho grande,*/
    font-size: 6rem; 
    font-weight: 800;
    z-index: 5;
    position: relative;
    color: white;
}

#hero video {
    /* Solução para tirar as bordas brancas e garantir que cubra */
    width: 105%; 
    height: 105%; 
    object-fit: cover;
    z-index: 2;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    border-radius: 20px;
}

#boas-vindas {
    color: white;
}

#boas-vindas h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

#boas-vindas p {
    font-size: 2rem;
    line-height: 1.15;
    margin-bottom: 1.5rem;
}

main {
    padding: 2.5rem;  
    background: #3b3535f5;
}

section {
    padding: 3.75rem 0;
    border-bottom: 1px solid #292626;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    opacity: 0.15;
    z-index: -1;
    pointer-events: none;
}

.overlay-dark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.171);
    z-index: 0;
    pointer-events: none;
}

.simulador {
    display: flex;
    flex-direction: column;
    /* Retorna ao tamanho fixo em rem (ou mantém um vw alto, se preferir) */
    font-size: 5rem; 
    color: #ffffff;
    overflow: hidden;
    padding-left: 0;
    justify-content: center;
    align-items: center;
}

.simulador1 {
    display: flex;
    flex-direction: column;
    /* Retorna ao tamanho fixo em rem */
    font-size: 4rem; 
    color: #ffffff;
    overflow: hidden;
    padding-left: 0;
    justify-content: center;
    align-items: center;
}

.desc {
    display: flex;
    flex-direction: column;
    /* Retorna ao tamanho fixo em rem */
    font-size: 3rem; 
    justify-content: flex-start;
    align-items: flex-start;
}



.grid-xadrez {
    width: 100%;
    margin-top: 5rem;
}

.xadrez {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.75rem 2.5rem; 
    gap: 2.5rem; 
}

.xadrez.invertido {
    flex-direction: row-reverse;
}

.xadrez-img {
    width: 50%;
    height: 22rem; 
    background-size: cover;
    background-position: center;
    border-radius: 6px;
}

.xadrez-texto {
    width: 50%;
    color: white;
}

.xadrez-texto h2 {
    font-size: 2rem; 
    margin-bottom: 0.9375rem; 
}

.xadrez-texto p {
    font-size: 1.125rem; 
    line-height: 1.6;
}


.bloco-verde .xadrez-img {
    background: #00000000;
    opacity: 0.9;
}

.bloco-vermelho .xadrez-img {
    background: #cc000000;
    opacity: 0.9;
}





.pai {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.filho1, .filho2 {
    /* Mantém as caixas lado a lado (45% de largura) */
    width: 45%; 
    height: 0; 
    padding-top: 45%; 
}

.filho1 {
    background-color: #00cc6d;
}

.filho2 {
    background-color: #cc0000;
}


