#hero {
    background-color: white;
    padding: 10rem 1rem;
    border-radius: 30px;
    text-align: center;
    overflow: hidden;
    position: relative;

    h1 {
        font-size: 6rem;
        font-weight: 800;
        z-index: 5;
        position: relative;
        color: white;
    }

    video {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 2;
    }
}

#boas-vindas {
    color: white;

    h2 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    p {
        font-size: 2rem;
        line-height: 1.15;
        margin-bottom: 1.5rem;
    }
}


main {
    padding: 40px;  
    background: #3b3535f5;
}

section {
    padding: 60px 0;
    border-bottom: 1px solid #292626;
}


.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* Preenche toda a tela sem bordas pretas */
    opacity: 0.15;
    /* Controle da transparência (0.0 a 1.0) */
    z-index: -1;
    /* Fica atrás de tudo */
    pointer-events: none;
    /* Não interfere com os cliques */
}


/* CAMADA ESCURA EM TODO O SITE */
.overlay-dark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.171);
    /* 0.65 = intensidade da escuridão */
    z-index: 0;
    /* fica ENTRE o vídeo e o conteúdo */
    pointer-events: none;
}


.simulador {
    display: flex;
    flex-direction: column;
    font-size: 80px;
    color: #ffffff;

    overflow: hidden;
    padding-left: 0;
    justify-content: center;
    align-items: center;

}

.simulador1 {
    display: flex;
    flex-direction: column;
    font-size: 60px;
    color: #ffffff;

    overflow: hidden;
    padding-left: 0;
    justify-content: center;
    align-items: center;

}

.desc {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    justify-content: flex-start;
    align-items: flex-start;

}






/* ======== ESTILO XADREZ ======== */

.grid-xadrez {
    width: 100%;
    margin-top: 80px;
}

.xadrez {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 40px;
    gap: 40px;
}

/* Alternância automática */
.xadrez.invertido {
    flex-direction: row-reverse;
}

/* Áreas de imagem */
.xadrez-img {
    width: 50%;
    height: 350px;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
}

/* Áreas de texto */
.xadrez-texto {
    width: 50%;
    color: white;
}

.xadrez-texto h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.xadrez-texto p {
    font-size: 18px;
    line-height: 1.6;
}

/* CAIXAS COLORIDAS */
.bloco-verde .xadrez-img {
    background: #00000000;
    /* verde */
    opacity: 0.9;
}

.bloco-vermelho .xadrez-img {
    background: #cc000000;
    /* vermelho */
    opacity: 0.9;
}

/* ====== RESPONSIVO ====== */
@media (max-width: 800px) {

    .xadrez,
    .xadrez.invertido {
        flex-direction: column;
    }

    .xadrez-img,
    .xadrez-texto {
        width: 100%;
    }
}

.pai {
    display: flex;
    justify-content: space-around;
}

.filho1 {

    background-color: #00cc6d;
    width: 500px;
    height: 500px;
}

.filho2 {
    background-color: #cc0000;
    width: 500px;
    height: 500px;
}