@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    background-color: #000000;
    overflow-x: hidden;
}

/* ----------- CONTEÚDO CENTRAL ----------- */

.conteudo {
    margin-top: 140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.logo-centro img {
    width: 280px;
    opacity: 0.3;
    margin-bottom: 40px;
}

/* ----------- KPIs ----------- */

.kpis {
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

.kpi {
    width: 230px;
    height: 150px;
    border-radius: 15px;
    background: #111;
    border: 2px solid #ff1e1e;
    box-shadow: 0 0 20px #ff0000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.kpi h3 {
    color: #ff4c4c;
    font-size: 20px;
    margin-bottom: 10px;
}

.kpi span {
    font-size: 35px;
    font-weight: bold;
}

/* ----------- GRÁFICO ----------- */

.graficocontainer {
    width: 55%;
    background-color: #111;
    padding: 25px;
    margin-top: 60px;
    border-radius: 20px;
    box-shadow: 0 0 20px #ff0000;
}
